@import url(http://fonts.googleapis.com/css?family=Raleway:600);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
}
/*=====================*/

/* Wrapper */
body{background: #eaeaea;}
#wrap{
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	padding: 0 10px 0 10px;
}
/* Header */
#top{
	width: -moz-calc(100% - 55px);
	width: -webkit-calc(100% - 55px);
	width: -o-calc(100% - 55px); 
	width: calc(100% - 55px);
	height: 125px;
	position: relative;
}
	#top > ul{
		float: right;
	}
	#top > ul > li{
		display: inline-block;
		height: 100%;
	}
		#top > ul >  li.page{
			vertical-align: middle;
			padding: 0 17px 0 0px;
			font-size: 0.9rem;
			font-family: 'Raleway';
			color: #999;
			-webkit-transition:all .15s ease-in;
			-moz-transition:all .15s ease-in;
			-o-transition:all .15s ease-in;
			transition:all .15s ease-in;
			line-height: 125px;
			margin-top:-11px;
		}
		#top > ul > li.page:hover{
			color: #000;
		}
		#top > ul > li.page:not(:first-child):before{
			content: "|";
			color: #999;
			padding-right: 19px;
		}
		#top > ul > #siteTitle{
			padding: 0 30px 0 30px;
			font-size: 1.5rem;
			font-family: 'Open Sans', sans-serif;
			font-weight: bold;
			color: #444;
			letter-spacing:-1px;
			height: 100%;
			line-height: 125px;
		}
			#top > ul > #siteTitle:before{
				content: "";
				position: absolute;
				width: 4px;
				height:80px;
				margin-left: -30px;
				margin-top: 23px;
				background: #ddd;
			}
/* Main & Body */
#main{
	width: -moz-calc(100% - 55px);
	width: -webkit-calc(100% - 55px);
	width: -o-calc(100% - 55px); 
	width: calc(100% - 55px);
	min-width: 200px;
	min-height: 500px;
	float: left;
}
	.block{
		width: 100%;
		background: #fff;
		margin-bottom: 10px;
		min-height: 10px;
		border-bottom: 2px solid #ddd;
	}
		.content{
			padding: 10px;
			color: #555;
			font-size: 16px;
			font-family: 'Open Sans',Lato,sans-serif;
			line-height: 1.6rem;
		}
/* Sidebar */
#sidebar{
	float: left;
	position: relative;
}
	#sidebar > ul{
	}
		#sidebar > ul > li{
			margin-bottom: 10px;
		}
			#sidebar > ul > li > img{
				/*margin-left: auto;
				margin-right: auto;*/
				margin-left: 15px;
				display: block;
				max-width: 40px;
				max-height: 40px;
				opacity: 0.1;
				-webkit-transition:all .05s ease-in;
				-moz-transition:all .05s ease-in;
				-o-transition:all .05s ease-in;
				transition:all .05s ease-in;
			}
			#sidebar > ul > li > img:hover{
				opacity: 0.6;
			}